Вимоги до курсової роботи  
Метою курсової роботи  з дисципліни «Веб-програмування та веб-дизайн» є формування умінь з розробки та створення сучасних веб-додатків для обраної предметної області на основі отриманих теоретичних знань.
Студент в процесі проектування повинен продемонструвати впевнене володіння мовою розмітки гіпертекстових сторінок HTML, каскадними таблицями стилів CSS, препроцессорами CSS, мовою програмування JavaScript, з можливим використанням одного з фреймворків React.js, Angular, Vue.js. Також студент повинен продемонструвати навички роботи з серверними технологіями, створенням бази даних. Результатом виконаної роботи повинен бути повноцінний web-додаток який включає в себе всі компоненти FrontEnd, можливість взаємодіяти з BackEnd через REST-api, з демонстраційним переглядом на одному із безкоштовних хостингів (наприклад, netlify). А також можливим переглядом початкового коду у власному git-репозиторії.
Вибір теми здійснюється з списку рекомендованих кафедрою тем згідно порядкового номеру студенту в журналі та наданого переліку. На захист курсової роботи виноситься програмне рішення та пояснювальна записка з 3 розділів (30 сторінок), яка структурно складається:1 розділ –аналіз предметної області, 2 розділ – проектування (розробка) архітектури додатку та вибір технологій його реалізації, 3 розділ – практична реалізація (скріни), керівництво роботи.
ВАРІАНТИ ЗАВДАНЬ НА КУРСОВУ РОБОТУ.
301тн, 302тн, 303тн, 304тн, 305тн навчальні групи на 2026 рік.
Назва курсової роботи: «Розробка інформаційного порталу «предмет дослідження» на основі web-технологій»
Загальні вимоги:
Інформаційний портал повинен містити:
Головну сторінку
Шапку сайту(з логотипом)
Меню
Слайдер
Вивід 10 головних новин порталу
Підвал сайту(Футер)
Меню складається:
Про сайт
Галерея картинок
Новини
Контакти(з виведенням карти Google на сайт)
Дизайн повинен бути адаптивним (мобільна та десктопна версії) 
Варіанти «предмет дослідження»:
Кафедра комп’ютерних інформаційних технологій  закладу вищої освіти
Факультет закладу вищої освіти
Відділ кадрів закладу вищої освіти
Бібліотека закладу вищої освіти
Бухгалтерія закладу вищої освіти
Навчальний відділ закладу вищої освіти
Кафедра АСУ закладу вищої освіти
Навчальна частина факультету закладу вищої освіти
Навчальна лабораторія кафедри закладу вищої освіти
Юридична служба закладу вищої освіти
Кафедра фізичної культури і спорту закладу вищої освіти
Науковий центр закладу вищої освіти
Заклад вищої освіти
Кафедра суспільних наук закладу вищої освіти
Заклади вищої освіти України
Найбільші художні  виставки України
Найвідоміші музеї Полтавщини
Найвідоміші музеї світу
Найактуальніші спортивні події університету
Найвідоміші туристичні місця України
Актуальні події студентського життя в закладі вищої освіти
Наукові конференції в Україні
Наукові заходи в закладах вищої освіти  України
Спортивні заходи в Україні
Підготовка до НМТ в 2025 році
Вступна кампанія університету
Спортивні заходи в світі
Новини штучного інтелекту
Культурні події світу
Наукові центри світу
Найбільші бібліотеки України
ОБМЕЖЕННЯ складності:
ступінь:
1.Розробка web-застосунку з використанням мови розмітки гіпертекстових сторінок HTML і каскадними таблицями стилів CSS, мови JavaScript, бібліотек JQuery, JQueryUI, фреймворку Bootstrap, технологій Flexbox, Grid, використання медіазапитів.
2 ступінь:
 Розробка web-застосунку порталу з використанням мови розмітки гіпертекстових сторінок HTML і каскадними таблицями стилів CSS, мови JavaScript, бібліотек JQuery, JQueryUI, фреймворку Bootstrap, технологій Flexbox, Grid, використання медіазапитів.
Використання бібліотеки React.js, Angular, Vue.js, інші
3 ступінь:
Розробка web-застосунку з використанням мови розмітки гіпертекстових сторінок HTML і каскадними таблицями стилів CSS, мови JavaScript, фреймворку Bootstrap, технологій Flexbox, Grid, використання медіазапитів.
Обов’язкове використання бібліотеки React.js, Angular, Vue.js, інші
Обов’язкове використання технології Node.js
Обов’язкове використання бази даних (зберігання даних в БД та відображення даних із неї, ).